@import "tailwindcss";

@layer base {
	body {
		font-family: 'Inter';
    margin: 0;
    background-color: black;
    /* color: white; */
	}

  button {
    font-family: 'Inter';
  }

  image{
    margin: 0;
  }

  a {
    padding-right: 16px;
    padding-left: 16px;
  }

  input[type="file"]::-webkit-file-upload-button {
    display: none;
  } */

  input[type="file"]::file-selector-button {
    display: none; 
  }
}

@theme {
    --color-*: initial;
    --color-Black: #0C0C0C;
    --color-Dark_red: #481E14;
    --color-Red: #9B3922;
    --color-Bright_red: #F2613F;
    --color-Very_bright_red: #FEA08A;
    --color-Semi_bright_red: #C74E32;
    --color-White: #FFFFFF;
    --color-Very_bright_red_2: #FFCACA;
    --color-Light_black: #1D1D1D;
    --color-Whiter_black: #2C2C2C;
    --color-Lighter_black_2: #161616;
    --color-Whiter_black_2: #5E5E5E;
    --color-Whiter_black_3: #454545;
    --color-Super_red: #CA2600;
    --color-Gray: #8B8B8B;
    --color-Blue_link: #2424FF;
    --color-Sad: #0D0935;
    --color-Happy: #029354;
    --color-Angry: #621D0D;

    --breakpoint-*: initial;
    --breakpoint-phone: 20rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;

    --animate-spin: spin 1s ease-in-out infinite;
    --animate-fadeUp: fadeUp 1s ease-out forwards;

    @keyframes spin{
        0%{
            transform: rotate(-360deg);
        }
    }

    @keyframes fadeUp{
      0%{
        opacity: 0;
        transform: translateY(20px);
      },
      100%{
        opacity: 1;
        transform: translateY(0);
      }
    }

}